body{
    background: #090E16;
    display: flex;
    justify-content: center;
}

header{
    display: flex;
    width: 80vw;
    height: 5vh;
    background: #7a4ae231;
    border-radius: 16px;
    justify-content: end;
    align-items: center;
}

header>button{
    height: 70%;
    margin-right: 1vw;
}